<div class="card-body">
    <h6 class="card-subtitle mb-2">
        <span class="badge bg-{{note.get_label_display }}" style="color:black">
            컨테이너 {{note_snippet_var.container}}
        </span>
    </h6>
    <h5 class="card-title text-capitalize">{{note_snippet_var.medicine}}</h5>
    <p class="card-text">{{note_snippet_var.get_repeat_display}}, {{note_snippet_var.dosing_time}}</p>
        {% if type == "DELETE" %}
            <a href="{{note_snippet_var.get_finish_item_url}}" class="card-link text-success"><i class="fas fa-check"></i></a>
        {% else %}
            <a href="{{note_snippet_var.get_recover_item_url}}" class="card-link text-warning"><i class="fas fa-times"></i></a>
        {% endif %}
        
    <a href="{{note_snippet_var.get_delete_item_url}}" class="card-link text-danger"><i class="fas fa-dumpster"></i></a>
</div>